.app-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #000;
  color: #fff;

  .header-title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 0 20px;
    font-size: 1.2em;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}
